<!DOCTYPE html>
<html>
<head>
<style>
body{
    background-color: black;
}
a{
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

a:hover {
  background-color: #45a049;
}
</style>
</head>

<body>

<a href="signup">Register Here</a>

</body>
</html>