<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Records</h1>

    <h3>User name is <%- data.name%></h3>
    <h3>User email is <%- data.email%></h3>
    <h3>User password is <%- data.pass%></h3>
</body>
</html>