<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>

    <%-include("partials/navbar.ejs") %>

    
    <h2>About Course Portal</h2>

<p>
  Course Portal is a simple web application built using Node.js, Express, and EJS.
</p>
<p>
  It allows users to explore available professional courses.
</p>
<p>
  Users can view course details including duration and fees.
</p>
<p>
  This portal demonstrates routing, dynamic rendering, and route parameters.
</p>

    <%-include("partials/footer.ejs") %>

</body>
</html>
